<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Asset extraction</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <h1>Asset Extractor</h1>
    <form id="dataForm" action="/submit" method="post" enctype="multipart/form-data">
      <div id = "AssetDiv">
        <p>Asset</p>
        <!-- DID Input (Spanning the first column) -->
        <label for="did">DID</label>
        <input class="DID_input" type="text" name="did" placeholder="Enter your DID" required/>

        <!-- Asset file input (Spanning both columns) -->
        <label for="Asset">Add Asset file</label>
        <input type="file" id="Asset" name="Asset" accept=".xodr,.xosc" placeholder="Select an Asset file" required/>
      </div>
      <div id = "MediaDiv">
        <p>Media / Data</p>
        <!-- Dropdown for media types (Spanning the first column) -->
        <div id="mediaType"></div>

        <!-- Media file inputs container (Spanning both columns) -->
        <div id="mediaContainer"></div>    
      </div>
      
      <!-- Submit button (Full width) --> 
      <button id="sbtButton" type="submit" >Submit</button>
    </form>

    <div id="outputDiv">
      <h2> Log </h2>
    </div>

    <!-- Download "button" : anchor tag with the download attribute (Full width) -->
    <a href="/download" download="asset.zip">
      <button type="button">Download Asset ZIP</button>
    </a>

    <script src="assetSelectGUI.js"></script>
    <script src="sendData.js"></script>
  </body>
</html>
