<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Search Result</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <h1>Extended Search</h1>
    <div id="jsonContent" data-json='<%= JSON.stringify(jsonData) %>'></div>

    <!--<form id="searchForm" action="/searchSubmit" method="post" enctype="multipart/form-data">       -->
    <form id="searchForm" action="/searchSubmit" method="post" enctype="application/x-www-form-urlencoded">
        <h2> Settings </h2>

        <div id="scriptChoice"></div>

        <!-- Container for input fields -->
        <div id="inputFieldsContainer"></div>

        <!--send back to server-->
        <button id="sbtButton" type="submit"> Search </button>
    </form>

    <div id="outputDiv">
        <h2> Output </h2>
    </div>
    
    <script src="search.js"></script>
    <script src="sendData.js"></script>
</body>
</html>