<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Asset extraction</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <h1>Asset Extractor</h1>
    <form id="dataForm" action="/submit" method="post" enctype="multipart/form-data">
      <div id = "AssetDiv">
        <p>Asset</p>
        <label for="Asset">Add Asset file</label>
        <input type="file" id="Asset" name="Asset" accept=".xodr,.xosc,.zip,.crg" placeholder="Select an Asset file" required/>
      </div>

      <div id = "LicenseDiv">
        <p>License</p>
        <!-- Dropdown for license types-->
        <label for="licenseType">Type</label>
        <div id="licenseType"></div> <!--license type dropdown added dynamically with ts-->
        <input type="hidden" name="selectedLicenseType" id="selectedLicenseTypeInput">
        
        <label for="License">File</label>
        <div id="LicenseFileInput">  
        <input type="file" id="License", name="License" accept=".txt,.md" placeholder="Select an Asset file"/>
        <button type="button" id="resetLicenseFile">Reset</button>
        </div>
        
        <p class="or-label">OR</p>

        <label for="LicenseURL">URL</label>
        <input type="url" id="LicenseURL" name="LicenseURL" placeholder="https://example.com/license.txt" />
      </div>

      <div id = "MediaDiv">
        <p>Media / Data</p>
        <!-- Dropdown for media types (Spanning the first column) -->
        <div id="mediaType"></div>

        <!-- Media file inputs container (Spanning both columns) -->
        <div id="mediaContainer"></div>    
      </div>
      
      <button id="sbtButton" type="submit" >Submit</button>
    </form>

    <div id="outputDiv">
      <h2> Log </h2>
    </div>

    <button type="button" id="downloadButton" disabled>Download Asset ZIP</button>
    
    <script src="assetSelectGUI.js"></script>
    <script src="sendData.js"></script>
  </body>
</html>
