body {
  max-width: 600px; /* Limit body width to 600px*/
  border: 2px solid black;
  padding: 25px;
  border-radius: 5px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
}

button, input[type=file]::file-selector-button {
  background-color:  #000099;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h1 {
  color:  #000099;
}
form p {
  grid-column: 1 / -1;
  font-size: 16px;
  color:  #000099;
}

form {
  display: grid;
  gap: 15px;
  align-items: stretch;
}

input[type="file"] {
  width: 100%;              /* Ensure it takes full width of its container */
}

#AssetDiv, #MediaDiv {
  display: grid;
  background-color: rgb(245, 243, 243); /* Gray background */
  border: 2px solid black; /* Border */
  padding: 25px; /* Padding inside the div */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 5px; /* Space between divs */
  row-gap: 15px;
}
#AssetDiv {
  grid-template-columns: 1fr 3fr; /* Default two-column layout */
}
#MediaDiv #mediaFileLabel {
  margin-right: 15px;
}

.media-input {
  display: grid;
  grid-template-columns: 1fr 3fr auto; /* Default three-column layout */
  align-items: center;
  margin: 15px;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  body {
      width: 90%; /* Use almost full width of the viewport */
  }

  #AssetDiv, .media-input {
      grid-template-columns: 1fr; /* Stack labels and inputs in a single column */
  }
}

.media-input button {
  background-color: lightcoral; /* remove button : rosa */
  padding: 5px 10px;
}

#sbtButton {
  grid-column: 1 / -1; /*submit button  across all columns */
  justify-self: end;
}

/* Make the anchor take up 70% of the page width */
a {
  display: block;
  margin-top: 10px;
  text-align: right; 
}

#outputDiv, #resultContainer{
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: small;
}
#outputDiv{
  background-color: #f0f0f0; /* light gray background */
}
#resultContainer {
  background-color: white;
}